<div class="container">
    <div id="nav-trigger">
        <span>Samantha Kane</span>
    </div>
    <nav id="nav-main">
        <ul>
            <li><a href="">Books</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Media</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <nav id="nav-mobile"></nav>
</div>