<div class="container">
    <div class="pure-g title-container">
        <div class="header-image-container" >
            <img class="header-image" src="images/sam1.jpg"/>
        </div>
        <div class="pure-u-1-2 site-title">
            <h1 class="site-title-main"> Samantha Kane</h1>
            <h1 class="site-title-mobile">S K</h1>
        </div>
    </div>
    <div id="nav-trigger">
        <span>Samantha Kane</span>
    </div>
    <nav id="nav-main">
        <ul>
            <li><a href="">Books</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Media</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <nav id="nav-mobile"></nav>
</div>