<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Samantha Kane</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav-r.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<script src="/js/scripts.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    
    <div class="wrapper">
    	<div class="container">
            <div class="pure-g title-container">
                <div class="header-image-container" >
                    <img class="header-image" src="/images/sam1.jpg"/>
                </div>
                <div class="pure-u-1-2 site-title">
                    <a href="/">
                        <h1 class="site-title-main"> Samantha Kane</h1>
                        <h1 class="site-title-mobile">S K</h1>
                    </a>
                </div>
            </div>
            <div id="nav-trigger">
                <span>Samantha Kane</span>
            </div>
            <nav id="nav-main">
                <ul>
                    <li><a href="/library">Library</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <nav id="nav-mobile"></nav>
    	</div>

        {{{body}}}
        <div class="push"></div>
    </div>



	<div class="footer-container">
        <div class="pure-g footer-content">
            <div class="pure-u-1-3 footer-left">
                <p>Links</p>
            </div>
            <div class="pure-u-1-3 footer-center">
                <p>Newsletter Sign up again</p>
                <!-- Begin MailChimp Signup Form -->
                    <div id="footer_mc_embed_signup">
                        <form action="//samanthakane.us5.list-manage.com/subscribe/post?u=d56cadf6d5dd3d90aa0b8a99d&amp;id=810dff8484" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <input type="email" value="" name="EMAIL" placeholder="Email Address"class="required email" id="mce-EMAIL">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_d56cadf6d5dd3d90aa0b8a99d_810dff8484" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
            <div class="pure-u-1-3 footer-right">
                <p>social media links</p>
            </div>
        </div>
	</div>

    <script>
        $(document).ready(function(){
                navBar();
        });
    </script>

</body>
</html>