<h1>About / Contact</h1>

<h1> About </h1>

<p>

	Reviewers have called Samantha Kane “an absolute marvel to read,” and “one of historical romance’s most erotic and sensuous authors.”  Her books have been called “sinful,” “sensuous,” and “sizzling.” She is published in several romance genres including historical, contemporary and science fiction.  Her erotic Regency-set historical romances have won awards, including Best Historical from RWA's erotic romance chapter Passionate Ink, and the Historical CAPA (best book) award from The Romance Studio.  

	Samantha Kane has a master's degree in American History, and taught high school social studies for ten years before becoming a full time writer. She lives in North Carolina with her husband and three children.

	Ms Kane loves to hear from  readers.  Contact her or subscribe to her newsletter

	View the photo gallery below to see Samantha having fun with other writers
</p>
<h1> Reviews </h1>
<p>
	Reviewers are raving about Samantha Kane...

	“Samantha Kane has a gift for telling emotionally charged stories with passion and sensuality. Her characters are in depth and well developed...Samantha Kane is an absolute marvel to read.”

	Ecataromance Sensual



	“Samantha Kane is one of historical romance's most erotic and sensuous voices[.]”

	The Romance Studio



	“Samantha Kane is a shining example of the gems offered by ePubs at their very best[.]”

	The Good, the Bad, the Unread



	“Samantha Kane’s delightful characters and sizzling sexual tension always make for a great read.”

	New York Times bestselling author Sabrina Jeffries
</p>

<h1> Contact </h1>

<p> 
	Samantha Kane loves to hear from her readers.

	Email her, subscribe to her newsletter or follow her exploits on Facebook and Twitter (see feeds below)

	To request Ms Kane to appear for your group or organization, please email her.
</p>