<div class="about_container">
	<div class="about">
		<h1> About Sam </h1>
		
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="about_text_1">
					<p>
						Reviewers have called Samantha Kane “an absolute marvel to read,” and “one of historical romance’s most erotic and sensuous authors.”  Her books have been called “sinful,” “sensuous,” and “sizzling.”<br><br>
					</p>
					<p>
							She is published in several romance genres including historical, contemporary and science fiction.  Her erotic Regency-set historical romances have won awards, including Best Historical from RWA's erotic romance chapter Passionate Ink, and the Historical CAPA (best book) award from The Romance Studio.<br><br>
					</p>  
					<p>
						Samantha Kane has a master's degree in American History, and taught high school social studies for ten years before becoming a full time writer. She lives in North Carolina with her husband and three children. Ms Kane loves to hear from readers.  Contact her or subscribe to her newsletter
					</p>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<img src="images/about_sam.jpg"/>
				<p> Photo: &copy; Ginger Z Photography </p>
			</div>
		</div>
		<div class="about_reviews">
			<h1>
				Reviews
			</h1>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-4">
					<div class="about_text_2">
						<p>
							“Samantha Kane has a gift for telling emotionally charged stories with passion and sensuality. Her characters are in depth and well developed...Samantha Kane is an absolute marvel to read.” <br>
							<strong>- Ecataromance Sensual</strong>
						</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-4">
					<div class="about_text_2">
						<p>
							“Samantha Kane is one of historical romance's most erotic and sensuous voices[.]” <br>
							<strong>- The Romance Studio</strong>
						</p>
					</div>
				</div>	
				<div class="pure-u-1 pure-u-md-1-4">
					<div class="about_text_2">
						<p>
							“Samantha Kane is a shining example of the gems offered by ePubs at their very best[.]”<br>
							<strong>- The Good, the Bad, the Unread</strong>
						</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-4">
					<div class="about_text_2">
						<p>
							“Samantha Kane’s delightful characters and sizzling sexual tension always make for a great read.” <br>
							<strong>- New York Times bestselling author Sabrina Jeffries</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<h1> Contact </h1>
		<div class="about_contact">
			<div class="about_contact_text">
				<p> 
					Samantha Kane loves to hear from her readers.

					Email her, subscribe to her newsletter or follow her exploits on Facebook and Twitter (see feeds below)

					To request Ms Kane to appear for your group or organization, please email her.
				</p>
			</div>
			<div class="about_social_logos pure-g">
				<div class="pure-u-1-2 pure-u-sm-1-4">
					<a href="http://www.goodreads.com/author/show/1011325.Samantha_Kane">
						<img src="/images/logos/goodreads.png">
					</a>
				</div>
				<div class="pure-u-1-2 pure-u-sm-1-4">
					<a href="https://twitter.com/skaneauthor">
						<img src="/images/logos/twitter.png">
					</a>
				</div>
				<div class="pure-u-1-2 pure-u-sm-1-4">
					<a href="mailto:mail@samanthakane.us">
						<img src="/images/logos/envelope.png">
					</a>
				</div>
				<div class="pure-u-1-2 pure-u-sm-1-4">
					<a href="https://www.facebook.com/SamanthaKane.author">
						<img src="/images/logos/facebook.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

