<div class="events_container">
	<h1>Events<h1>

	<h2> Sam's Upcoming appearances</h2>

	<div>
		<h3>Killer Nashville</h3> 
		<p>Oct.29-Nov. 1 (Not signing or presenting)</p>
	</div>
	<div>
		<h3>Philly Authorfest</h3> 
		<p>Nov. 14 (signing)</p>
	</div>
	<div>
		<h3>Create Something Magical Conference</h3>
		<p>New Jersey  March 19-20, 2016 (signing and presenting workshops)</p>
	</div>
	<div>
		<h3>Wicked Book Weekend</h3> 
		<p>April 22-25, 2016 Ft. Lauderdale (signing)</p>
	</div>
	<div>
		<h3>Weekend With the Authors</h3> 
		<p>May 14-15, 2016 Nashville (signing)</p>
	</div>
	<div>
		<h3>Carolina Book Fest</h3> 
		<p>Charlotte, NC Oct. 15, 2016 (signing)</p>
	</div>
	<h2 class="events_contact">Contact Samantha here to request public appearances</h2>
</div>
