<div class="events_container">
	<h1>Events<h1>

	<h2> Sam's Upcoming appearances</h2>

	<div>
		<a href="http://www.killernashville.com/">
			<h3>Killer Nashville: October 29 - November 1</h3>
		</a>
		<h4>Nashville, TN</h4>
		<p>Sam will be attending, but will not be signing books or presenting</p>
	</div>
	<div>
		<a href="https://phillyauthorfest.wordpress.com/">
			<h3>Philly Authorfest: November 14</h3> 
		</a>
		<h4>Philadelphia, PA</h4>
		<p>Sam will be signing books</p>
	</div>
	<div>
		<a href="http://www.libertystatesfictionwriters.com/conference/">
			<h3>Create Something Magical Conference: March 19 & 20, 2016</h3>
		</a>
		<h4>Iselin, NJ</h4>
		<p>Sam will be signing books and presenting workshops</p>
	</div>
	<div>
		<a href="http://wickedbookevents.com/">
			<h3>Wicked Book Weekend: April 22 - 25, 2016</h3> 
		</a>
		<h4>Ft. Lauderdale, FL</h4>
		<p>Sam will be signing books</p>
	</div>
	<div>
		<a href="http://www.eventbrite.com/e/weekend-with-the-authors-formerly-known-as-a-day-with-the-authors-tickets-16789480789">
			<h3>Weekend With the Authors: May 14 & 15, 2016</h3> 
		</a>
		<h4>Nashville, TN</h4>
		<p>Sam will be signing books</p>
	</div>
	<div>
		<a href="http://www.carolinabookfest.com/">
			<h3>Carolina Book Fest: October 15, 2016</h3>
		</a>
		<h4>Charlotte, NC</h4> 
		<p>Sam will be signing books</p>
	</div>
	<h2 class="events_contact">Contact Samantha here to request public appearances</h2>
</div>
