<div class="events_container">
	<h1>Events<h1>

	<h2> Sam's Upcoming appearances</h2>

	<div>
		<a href="http://www.killernashville.com/">
			<h3>Killer Nashville: August 19-21, 2016</h3>
		</a>
		<h4>Nashville, TN</h4>
		<p>Sam will be attending, but will not be signing books or presenting</p>
	</div>
	<div>
		<a href="http://www.carolinabookfest.com/">
			<h3>Carolina Book Fest: October 15, 2016</h3>
		</a>
		<h4>Charlotte, NC</h4> 
		<p>Sam will be signing books</p>
	</div>
	<h2 class="events_contact">Contact Samantha <a href="mailto:mail@samanthakane.us">here</a> to request public appearances</h2>
</div>
