


<div id="main">
	<div class="primary pure-g">
		<div class="newsletter pure-u-1 pure-u-md-1-5">
			<h2>Newsletter</h2>
			<p>Sign up!</p>
			
			<!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
              <form action="//samanthakane.us5.list-manage.com/subscribe/post?u=d56cadf6d5dd3d90aa0b8a99d&amp;id=810dff8484" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll" class="mc_newsletter">
                  <input type="email" value="" name="EMAIL" placeholder="Email Address"class="required email" id="mce-EMAIL">
                  <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_d56cadf6d5dd3d90aa0b8a99d_810dff8484" tabindex="-1" value=""></div>
                  <div class="mc_newsletter clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
              </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

		</div>
		<div class="latest pure-u-1 pure-u-md-3-5">
			<h2>Latest Release</h2>
			<div class="latest-cover">
				<img  src="http://dummyimage.com/600"/>
			</div>
			<div class="latest-description">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="latest-links">
					<p> links - to - buy - here</p>
				</div>
			</div>
		</div>
		<div class="next pure-u-1 pure-u-md-1-5">
			<h2>Next Release</h2>
			<div class="next-cover">
				<img src="http://dummyimage.com/600"/>
			</div>
			<div class="preorder">
				<p> preorder!</p>
			</div>
		</div>
	</div>

	<div class="secondary pure-g">
		<div class="upcoming pure-u-1 pure-u-md-1-3">
			<h2>Upcoming</h2>
			<p>93rd Highlanders & Birmingham Rebels</p>
		</div>
		<div class="contemporary pure-u-1 pure-u-md-1-3">
			<h2> Samantha Kane </h2>
			<p>Samantha Kane is the author of the best-selling historical erotic romance series Brothers in Arms, the historical romance series, The Saint’s Devils, two Contemporary erotic romance series, Mercury Rising and Birmingham Rebels, and the historical erotic romance series The 93rd Highlanders, as well as other erotic and romance novels, and is a contributor to several romance anthologies. Ms Kane appears at conventions and events through the year.</p>
		</div>
		<div class="historical pure-u-1 pure-u-md-1-3">
			<h2>Contemporary</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<br><br></p>
			<h2>Historical</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		</div>
	</div>
</div>


<script>
    $(document).ready(function(){
 			navBar();
    });
</script>

