


<div id="main">
	<div class="primary pure-g">
		<div class="newsletter pure-u-1 pure-u-md-1-5">
			<h2>Newsletter</h2>
			<p>Sign up!</p>
		</div>
		<div class="latest pure-u-1 pure-u-md-3-5">
			<h2>Latest Release</h2>
			<div class="latest-cover">
				<img  src="http://dummyimage.com/600"/>
			</div>
			<div class="latest-description">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				<div class="latest-links">
					<p> links - to - buy - here</p>
				</div>
			</div>
		</div>
		<div class="next pure-u-1 pure-u-md-1-5">
			<h2>Next Release</h2>
			<div class="next-cover">
				<img src="http://dummyimage.com/600"/>
			</div>
			<div class="preorder">
				<p> preorder!</p>
			</div>
		</div>
	</div>

	<div class="secondary pure-g">
		<div class="upcoming pure-u-1 pure-u-md-1-3">
			<h2>Upcoming</h2>
		</div>
		<div class="contemporary pure-u-1 pure-u-md-1-3">
			<h2>Contemporary</h2>
		</div>
		<div class="historical pure-u-1 pure-u-md-1-3">
			<h2>Historical</h2>
		</div>
	</div>
</div>


<script>
    $(document).ready(function(){
 			navBar();
    });
</script>

