{{#each content}}
	<div class="library-collection">
		<h3>
			<a href="/books/{{this.title}}">{{this.title}}</a>
		</h3>
		<a href="/books/{{this.title}}">
			<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
		</a>
	</div>
{{/each}}