<h1>Book Trailers</h1>

<h3>
	See below to view trailer videos for a selection of Ms Kane’s books
</h3>

<h3>
	Trouble viewing any of these videos? Click on the name  of the book above the video to view the video in  YouTube
</h3>


<a href="http://www.youtube.com/watch?v=YIJYOaoF-Us&list=PL822947D6BFA4CB79&index=5">Brothers in Arms</a>

<a href="http://www.youtube.com/watch?v=YIJYOaoF-Us&list=PL822947D6BFA4CB79&index=5">Retreat From Love</a>

<a href="http://www.youtube.com/watch?v=JWA9R2ikCuE&list=PL822947D6BFA4CB79&index=2">Love in Exile</a>

<a href="http://www.youtube.com/watch?v=ozV_6giCaCM&list=PL822947D6BFA4CB79&index=1">Love's Fortress</a>

<a href="http://www.youtube.com/watch?v=sQov-fnKypI">The Devil's Thief</a>