#nav-trigger {
  display: none;
  text-align: center; }
  #nav-trigger span {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    background-color: #464956;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 20px;
      content: "+";
      font-size: 20px;
/*  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;*/ }

nav {
  margin-bottom: 30px; }

nav#nav-main {
  background-color: #464956;
  padding: 10px 0; }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px white; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-main a:hover {
      background-color: lightgrey;
      color: #fff; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #464956; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 80px;
    border-bottom: solid 1px white; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: lightgrey; }


/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 560px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; } }
