.title-container{
	height: 120px;
	width: 100%;
	background-color: black;
	display: inline-block;
}

.title-container div {
	display:inline-block;
}

.header-image-container {
	position: absolute;
	height: 120px;
}

.header-image {
	height: 120px;
}

.footer-container {
	border-top: solid 2px #005b96;
	height: 150px;
	width: 100%;
	background-color: #ddd;
	color: #03396c;
}

.footer-content > div{
	text-align: center;
	display: inline-block;
	padding: 20px 0 0 0;
}

.footer-left-links {
	padding-top: 45px;
}

.footer_social_links img {
	padding-top: 20px;
	width: 45px;
}

#footer_mc_embed_signup{
	padding: 0;
}

.site-title {
	display: inline-block;
	width: 100%;
	/*padding-top: 15px;*/ 
	margin: auto;
}

.site-title-main{
	font-size: 40px;
	text-align: center;
	width: 100%;
	margin: 0;
}

.site-title-mobile{
	font-size: 30px;
	width: 100%;
	text-align: center;
	display: none;
}

@media screen and (max-width: 925px){
	.site_sub_title {
		display: none;
	}
}


@media screen and (max-width: 580px) {
	.header-image {
		display: none;
	}
	.site-title {
		padding-left: 0;
		margin: 0 auto;
	}
	.site-title-main {
		display: none;
	}
	.site-title-mobile {
		display: inline-block;
	}
}