* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1 {
	color: #999;
}

h2 {
	margin: 0 auto 10px auto;
}

p {
	text-align: center;
}

html, body {
	background-color: #f9f9f9;
	color: #312F3A;
	height: 100%;
}

.button {
	height: 40px;
	width: 100px;
	background: #999;
	border: none;
}

.email {
	width: 150px;
}

.wrapper {
	margin: 0 auto -120px auto;
	min-height: 100%;
}

.push {
	height: 120px;
}

.primary div {
	padding-top: 30px;
}

.newsletter h2 {
	width: 100px;
}

.mc_newsletter{
	text-align: center;
}

.latest {
	width: 40%;
	background-color: white;
}

.latest-description {
	padding: 0 50px;
}

.latest-links {
	margin: 0 auto;
}

.latest h2{
	width: 170px;
}

.latest-cover {
	margin: 0 auto;
	width: 300px;
}

.latest-cover img {
	width: 300px;
}

.next h2 {
	width: 170px;
}

.next-cover {
	width: 150px;
	margin: 0 auto;
}

.next-cover img {
	width: 150px;
}

.secondary div {
	padding-top: 50px;
	min-height: 300px;
	max-height: 350px;
}

.secondary div h2 {
	text-align: center;
	width: 190px;
}

.library_series {
	text-align: center;

}

.library-collection {
	margin: 5px;
	text-align: center;
	display: inline-block;
	min-width: 200px;
	min-height: 250px;
	background-color: white;
}

.cover_thumbnail {
	max-width: 150px;
	max-height: 200px;
}


/*Single Book Page*/
.single_cover {
	max-width: 300px;
}

.merchant_link {
	width: 100px;
	max-height: 50px;
}

.merchant_links div{
	border-top: 5px solid #f9f9f9; 
	display: inline-block;
	text-align: center;
}

.ebook_links {
	background-color: white;
}

.single_book_title {
	text-align: center;
}

.single_book div{
	text-align: center;
	display: inline-block;
	margin: auto;
}

.single_book {
	padding: 50px;
	background-color: white;
}

.single_book_description {
	padding: 20px;
	background-color: #f9f9f9;
}

/*About Page*/
.about_container{
	width: 90%;
	padding: 50px;
	text-align: center;
}

.about_social_logos img {
	width: 90%;
	min-width: 50px;
	max-width: 100px;
}

/*Media Page*/

.trailer {
	text-align: center;
	margin: 0 auto;
}

.trailer a {
	display: block;
	letter-spacing: .25ex;
	min-width: 420px;
}

iframe {
	margin: 0 auto;
	display: block;
}
