* {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0 auto 30px auto;
}

p {
	text-align: center;
}

html body {
	background-color: #f9f9f9;
	color: #312F3A;
}

.primary div {
	padding-top: 30px;
}

.newsletter h2 {
	width: 100px;
}

.latest {
	width: 40%;
	background-color: white;
}

.latest-description {
	padding: 0 50px;
}

.latest-links {
	margin: 0 auto;
}

.latest h2{
	width: 170px;
}

.latest-cover {
	margin: 0 auto;
	width: 300px;
}

.latest-cover img {
	width: 300px;
}

.upcoming h2 {
	width: 170px;
}

.next-cover {
	width: 150px;
	margin: 0 auto;
}

.next-cover img {
	width: 150px;
}

.secondary div {
	height: 500px;
}

