* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Script";
	src: url("SCRIPTIN.ttf");
}

a{
	text-decoration: none;
	color: #206fb3;
}

h1,h2,h3,h4 {
	font-family: "Quicksand", sans-serif; 
}

.site-title{
	color: #206fb3;
	font-family: 'Script';
}

h2 {
	margin: 0 auto 10px auto;
	color: #03396c;
}

p {
	text-align: center;
}

html, body {
	background-color: #f9f9f9;
	color: #3d3d3d;
	height: 100%;
}


.button {
	height: 40px;
	width: 100px;
	color: white;
	background: #005b96;
	border: none;
}

input {
	height: 30px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
}

.email {
	width: 150px;
}

.wrapper {
	margin: 0 auto -120px auto;
	min-height: 100%;
}

.push {
	height: 120px;
}

form div {
	padding: 5px 0;
}

/*Home Page*/

.newsletter{
	text-align: center;
	margin-top: 50px;
}

.mc_newsletter{
	text-align: center;
}

.main_bio {
	margin-top: 50px;
	padding: 0 15px;
}

.latest {
	margin-top: 100px;
	background-color: white;
}

.latest-description {
	padding: 0 50px;
}

.latest-links {
	margin: 0 auto;
}

.latest h2{
	width: 170px;
}

.latest-cover {
	margin: 0 auto;
	width: 300px;
}

.latest-cover img {
	width: 300px;
}

.upcoming {
	margin-top: 50px;
	text-align: center;
}

.upcoming_release {
	margin: 30px 0;
}

.next-cover {
	width: 150px;
	margin: 0 auto;
}

.next-cover img {
	width: 150px;
}

.secondary div {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}


.secondary_text {
	padding: 0 5%;
}

/*Library Page*/

.library_series {
	text-align: center;
	padding: 30px 0;
}

.library_series:nth-child(odd){
	background-color: white;
}

.library-collection {
	margin: 5px;
	text-align: center;
	display: inline-block;
	min-width: 200px;
	min-height: 250px;
}

.cover_thumbnail {
	max-width: 150px;
	max-height: 200px;
}


/*Single Book Page*/
.single_cover {
	max-width: 300px;
}

.merchant_ebooks {
	background-color: white;
	border-top: 5px solid #f9f9f9; 
}

.merchant_header {
	cursor: pointer;
	margin-top: 10px;
}

.merchant_link {
	width: 100px;
	max-height: 50px;
	margin: 0 5px;
}

.eCave_link {
	width: px;
	height: 40px;
}

.merchant_links div{
	text-align: center;
	margin: 0 auto 0 auto;
}

.external_links {
	padding-bottom: 20px;
}

.single_book_title {
	text-align: center;
}

.single_book_title h1 {
	display: inline-block;
}

.buy_now_link {
	width: 150px;
	display: inline-block;
}
	
.single_book > div {
	text-align: center;
}	

.single_book div{
	display: inline-block;
	margin: 0 auto;
}

.single_book {
	padding: 50px;
	background-color: white;
}

.single_book_description {
	padding: 20px;
	background-color: #f9f9f9;
	height: 50%;
}

#gr_add_to_books{
	display: block;
}

#gr_add_to_books iframe {
	width: 180px;
}

.fb-share-button span {
	height: 58px;
	padding-bottom: 4px;
}

.addReviewButton{
	float:left;
	margin-left: 20px;
}


/*About Page*/
.about_container{
	text-align: center;
}

.about_main {
	padding: 10px 0 40px 0;
}

.about_text_1 {
	padding: 50px 20px 0 20px;
}

.about_image {
	height: 300px;
	padding-top: 50px;
}

.about_reviews {
	background-color: white;
	padding: 10px 0 40px 0;
}

.about_text_2 {
	padding: 20px 10px 0px 10px;
}

.about_contact {
	padding: 20px 0 50px 0;
}

.about_contact_text {
	padding: 0 15% 0 15%;
	margin-bottom: 40px;
}

.about_social_logos {
	margin-top: 40px;
	margin-bottom: 15px;
}

.about_social_logos img {
	width: 90%;
	min-width: 50px;
	max-width: 100px;
}

/*Media Page*/

.trailers_container {
	padding-bottom: 50px;
}

.trailer {
	text-align: center;
	margin: 0 auto;
}

.trailer a {
	display: block;
	letter-spacing: 0ex;
	min-width: 420px;
}

iframe {
	margin: 0 auto;
	display: block;
}

.media_text {
	text-align: center;
	padding: 0 15% 50px 15%;
}

/*Events Page*/

.events_container {
	text-align: center;
	padding: 0 50px 100px 50px;
}

.events_container div {
	text-align: center;
	margin: 10px auto;
	padding: 20px 20px;
	width: 50%;
	min-width: 200px;
	max-width: 500px;
	background-color: white;
}

.events_contact {
	margin-top: 50px;
}

