<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Samantha Kane</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/nav-r.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<script src="js/scripts.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>


<div id="main">

	<% include ../partials/header %>
	
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-5">
			<h2>Newsletter</h2>
			<p>Sign up!</p>
		</div>
		<div class="latest pure-u-1 pure-u-md-3-5">
			<h2>Latest Release</h2>
			<div class="latest-cover">
				<img  src="images/broken_play.jpg"/>
			</div>
			<div class="latest-description">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-5">
			<h2>Next Release</h2>
			<img class="upcoming" src="images/calling_the_play.jpg"/>
		</div>
	</div>

	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-3">
			<h2>Upcoming</h2>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<h2>Historical</h2>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<h2>Contemporary</h2>
		</div>
	</div>
	<% include ../partials/footer.ejs %>
</div>


<script>
    $(document).ready(function(){
 			navBar();
    });
</script>




</body>
</html>